.tabnew{
    height: 38px;
    text-align: center;
    display: block;
    color: #888;
    line-height: 38px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 80px;
    padding-left: 0px;
}
.uk-tab>.uk-active>a {
    color: white;
    background-color: #fb8833;
    border-color: #fff;
    height: 38px;
    text-align: center;
    display: block;
    line-height: 38px;
    font-size: 13px;
    /* border: 1px solid #ddd; */
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 80px;
    padding: 0 0 0 0px;
    text-transform: none;
}
.checkBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #8f8f8f;
    margin-top: -3px;
    padding-left: 0px;
}
.changed{
    background-color: #fffedc;
}
.like:hover{
    background-color: #fffedc;
}
.answerFlag{
    color: #fff;
    background: #fb5f33 !important;
    border-color: #fb5f33;
}
.questionOptionNumber{
    margin-top: 20px;
}